* {
    margin: 0;
    box-sizing: border-box;
    /* conta o width a partir da borda da caixa*/
}

:root {
    /* font-size: 100%; equivale o valor de 16x padrão do navegador*/
    font-size: 62.5%;
    /* 1rem equivale = 10px*/

    --primary-color: hsl(170, 100%, 26%);
    --primary-color-light: hsl(148, 23%, 89%);
    --primary-color-beige-light: hsl(39, 100%, 97%);
    --secondary-color: hsl(210, 11%, 15%);
    --secondary-color-light: hsl(210, 9%, 31%);


}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
}

header {
    width: 37.5rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4.1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    color: var(--primary-color);

}

h1 {
    font-size: 3.4rem;
    line-height: 130%;
    text-align: center;
    margin-bottom: 2.4rem;
    color: var(--secondary-color)
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-bottom: 3.2rem;

    color: var(--secondary-color-light);
}


button {
    background-color: var(--primary-color);
    height: 6.2rem;
    width: 23.6rem;
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;

    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-left: auto;
    margin-right: auto;

}

div {
    background: var(--primary-color-beige-light);
    position: absolute;
    width: 32.7rem;
    height: 47rem;


    border: 1px, solid #DCE9E2;
    box-sizing: border-box;
    border-radius: 0.6rem;
}

div::after {
    position: absolute;
    width: 16.7rem;
    height: 9rem;
}